@import url('https://fonts.googleapis.com/css2?família=Poppins:wght@300; 400; 500; 600; 700; 800; 900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* background com fundo redondo  */
.backgroundLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: #ECF0FB;
    height: 100vh; /* Defina a altura conforme necessário */
    overflow: hidden;
    align-items: center;

}

.wrapper{
    margin-left: 17%;
    width: 34%;
    background: #7389FB;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-right: auto;
}

 .wrapper h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.icon{
    margin-left: 50%;
    margin-bottom: 10%;
}


.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 35px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;  
  margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}


.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 3rem;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #2E50FD;
    font-weight: 600;
    margin: 0 auto;
}

.wrapper .btn:hover{
    background-color: #2E50FD;
    color: #fff;
    cursor: pointer;
}

.text-right{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Adiciona isso para alinhar os elementos no centro horizontal */
    width: 28.6875rem;
    height: 26.4375rem;
    flex-shrink: 0;
    margin-right: 15%;
}

.text-right h1{
    color: #7389FB;
    text-align: center;
    font-family: Exo 2;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-right h2{
    color: #7389FB;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3rem;

}

.text-right h3{
    color: #2E50FD;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3rem;
}

.botao{
    width: 10rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.40rem;
    border: 1px solid #2E50FD;
    background: transparent;
    margin-top: 1rem;
    color: #2E50FD;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
}

.botao:hover{
    background-color: #2E50FD;
    color: #fff;
    cursor: pointer;
    border: none;
}