@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
padding: 5%;
height: 100vh;
display: flex; 
background-color: white;
}

.botao{
    width: 10%;
    background-color: #50B5FF;
    gap: 100px;
    justify-content: flex-start;
}

.verReservasDisciplina{
    justify-content: center;
    background-color: #9ECFFF;

}

.botao_verreservas{
    background-color: #2E81FD;
    left: 26%;
    top: 11%;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}
.botao_alterarreservas{
    background-color: #2E81FD;
    left: 35%;
    top: 11%;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}

.caixa_reservas{
    background-color: #cbc3e3;
    width: 100%;
    height: 100%;
}

.caixa_botoes{
    background-color: lavender;
    width: 72%;
    height: 70%;
    border: 1px solid grey;
}

p{
  color:black;  
  font-family: "Poppins", sans-serif;
}

h3{
    color:black;
    font-family: "Poppins", sans-serif;
}



h4{
    color:black;
    font-family: "Poppins", sans-serif;
}

.icone{
    color:black;
  font-size: 40px;
  width: 90px;
}

.conteudodireita{
gap: 10%;
}

.buttons{
    font-family: "Poppins", sans-serif;
    gap: 20px;
}