@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

<<<<<<< HEAD
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body,
button {
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: white;
    color: black;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
=======
*{
>>>>>>> 4e6ab7c0c415de705df9267610e81247e88adde9
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #50B5FF;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #50B5FF;
}

.aside {
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
}

.row {
    background-color: lavender;
    margin: 0 2vh;
    width: 70%;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 238);
}

.container {
    display: flex;
}

.icone {
    font-size: 45px;
}

.reservas {
    background-color: #0099cc;
    color: white;
    border-radius: 5px;
    border: none;
    width: 40%;
}

.reservas_disciplinas {
    background-color: #9ECFFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    align-items: end;
}

.disciplinas {
    background-color: #50B5FF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #2789E3;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.container#blur.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

#popup1, #popup2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition:  0.5s;
}

#popup1.active, #popup2.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer {
    background-color: #50B5FF;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
=======
body{
padding: 5%;
height: 100vh;
display: flex; 
background-color: white;
}

.botao{
    width: 10%;
    background-color: #50B5FF;
    gap: 100px;
    justify-content: flex-start;
}

.verReservasDisciplina{
    justify-content: center;
    background-color: #9ECFFF;

}

.botao_verreservas{
    background-color: #2E81FD;
    left: 26%;
    top: 11%;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}
.botao_alterarreservas{
    background-color: #2E81FD;
    left: 35%;
    top: 11%;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}

.caixa_reservas{
    background-color: #cbc3e3;
    width: 100%;
    height: 100%;
}

.caixa_botoes{
    background-color: lavender;
    width: 72%;
    height: 70%;
    border: 1px solid grey;
}

p{
  color:black;  
  font-family: "Poppins", sans-serif;
}

h3{
    color:black;
    font-family: "Poppins", sans-serif;
}



h4{
    color:black;
    font-family: "Poppins", sans-serif;
}

.icone{
    color:black;
  font-size: 40px;
  width: 90px;
}

.conteudodireita{
gap: 10%;
}

.buttons{
    font-family: "Poppins", sans-serif;
    gap: 20px;
>>>>>>> 4e6ab7c0c415de705df9267610e81247e88adde9
}